

.icon{
    color: blueviolet;
}

.footer-basic {
    padding:40px 0;
    background-color:#ff9720;
    color:#d87d15;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:white ;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    color: black;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    padding-top: 15px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid rgb(255, 255, 255);
    margin:0 8px;
    background-color:rgb(255, 255, 255);
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    background-color:#ff9100;
    opacity: 100%;
  }
  
  .footer-basic .copyright {
    margin-top:25px;
    text-align:center;
    font-size:13px;
    color:rgb(255, 255, 255);
    margin-bottom:0;
  }
  
  