<div class="container">
    <div class="wrapper" style="width: 18rem;">
     <div class="card-body">
        <div class="logo mb-3"> <img src="https://i.imgur.com/OWlilJM.png" alt="">
        </div>
        <h5 class="text-center name">Apagar Tema</h5>
        <h6 class="text-center text-secondary mt-3 mb-3">Você tem certeza que deseja apagar esse tema? Todas as postagens relacionadas a ele serão igualmente apagadas.</h6>        
        <h5 class=" text-center text-primary">Tema: {{tema.descricao}}</h5>
        <div class="d-flex justify-content-center mt-3">
        <button class="btn mr-4" routerLink='/tema'>Não</button>
        <button class="btn" (click)='apagar()'>Sim</button>
    </div>
      </div>
</div>