.fs-16{
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    cursor: pointer;
}
.bg-cor-menu{
    background-color: #ff9100;
}
.tm{
    height: 80px;
}