.fs-16{
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    cursor: pointer;
}
.bg-cor-menu{
    background-image: linear-gradient(to bottom right,#6a41bd, #bd5aeb, #a283e9);
}
.tm{
    height: 80px;
}