#img-bg {
    background-image: url('https://i.imgur.com/lo5v6F7.png');

    min-height: 895px;

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif
 }

 body {
     background: #ecf0f3
 }

 .wrapper {
     max-width: 350px;
     min-height: 500px;
     margin: 80px auto;
     padding: 40px 30px 30px 30px;
     background-color: #ff9100;
     border-radius: 15px;
     box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
 }

 .logo {
     width: 100px;
     margin: auto
 }

 .logo img {
     width: 100%;
     height: 100px;

  
 }

 .wrapper .name {
     font-weight: 600;
     font-size: 1.4rem;
     letter-spacing: 1.3px;
     padding-left: 10px;
     color: rgb(255, 255, 255)
 }

 .wrapper .form-field input {
     width: 100%;
     display: block;
     border: none;
     outline: none;
     background: none;
     font-size: 1.2rem;
     color: rgb(255, 255, 255);
     padding: 10px 15px 10px 10px
 }

 .wrapper .form-field {
     padding-left: 10px;
     margin-bottom: 20px;
     border-radius: 20px;
     box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
 }

 .wrapper .form-field .fas {
     color: #8C52FF
 }

 .wrapper .btn {
     box-shadow: none;
     width: 100%;
     height: 40px;
     background-color: #faac45;
     color: rgb(255, 255, 255);
     border-radius: 25px;
     letter-spacing: 1.3px
 }

 .wrapper .btn:hover {
     background-color: #6E00C8
 }

 .wrapper a {
     text-decoration: none;
     font-size: 1.0rem;
     color: #6E00C8
 }

 .wrapper a:hover {
     color: #8C52FF
 }

 @media(max-width: 380px) {
     .wrapper {
         margin: 30px 20px;
         padding: 40px 15px 15px 15px
     }
 }