<div class="wrapper">
    <div class="logo"> <img src="https://i.imgur.com/OWlilJM.png" alt="">
    </div>
    <div class="text-center mt-4 name"> Entrar </div>
    <form class="p-3 mt-3">
        <div class="form-group">
            <label class="pt-3 text-white" for="usuario">Usuário</label>
            <input [(ngModel)]='userLogin.usuario' class="p-1 form-control" type="text" name="usuario" id="usuario"
                placeholder="Seu usuário">
        </div>

        <div class="form-group ">
            <label class="pt-3 text-white" for="senha">Senha</label>
            <input [(ngModel)]='userLogin.senha' class="p-1 form-control" type="password" name="senha" id="senha"
                placeholder="Sua senha">
        </div>
        <div class="d-flex justify-content-center pt-4">
            <button type="submit" class="btn" (click)='entrar()'>Entrar</button>
       
        </div>
        <div class="d-flex justify-content-center pt-3">
        <button type="submit" class="btn" routerLink='/home'>Voltar</button>
    </div>
    </form>
    <p class="text-center text-white pt-2">
        Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
    </p>
</div>