<body>
 <div class="container">
  <div class="row">
    <div class="col-10">
      <nav class="navbar m- p-0 navbar-expand-lg   fixed-top" id="mainNav"
      style="background-color: #ff9100 !important;">
      <div class="container px-2">
        <img
          src="https://media.discordapp.net/attachments/912729290804711501/938437341855494174/Blue_and_Green_Puzzle_Toy_Store_Logo_4.png?width=427&height=427"
          alt="" height="40px" width="40px">
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="d-flex justify-content-center">
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="#home"
                  style="font-size: 20px;  font-family: 'Ubuntu', sans-serif;">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#about"
                  style="font-size: 20px;  font-family: 'Ubuntu', sans-serif;">Sobre nós</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact"
                  style=" font-size: 20px;  font-family: 'Ubuntu', sans-serif;">Contato |</a></li>
              <li class="nav-item"> <button type="submit" class="btn" routerLink="/entrar">Entrar</button></li>
              <li class="nav-item"><a class="nav-link" routerLink="/cadastrar"
                  style=" font-size: 20px;  font-family: 'Ubuntu', sans-serif;">Cadastrar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </div>
  </div>
 
</div> 


  <!--INTRODUÇÃO-->

  <div class="container-fluid m-0">
    <div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('../../assets/img/1.svg')">

        </div>
        <div class="carousel-item " style="background-image: url('../../assets/img/carrousel.svg')">
        </div>

        <div class="carousel-item " style="background-image: url('../../assets/img/3.svg')">
        </div>

        <div class="carousel-item " style="background-image: url('../../assets/img/4.svg')">
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <!--INTRODUÇÃO-->

  <!--SOBRE NÓS-->
  <section id="project">
    <div class="container-fluid about-full">

      <p class="lead text-center title-about">O EducaTEA é um projeto realizado no bootcamp Generation Brasil com o
        objetivo de instruir, acolher e capacitar
        profissionais da educação com relação ao espectro autista (TEA), o nosso intuito é criar uma comunidade sólida
        aonde os usuários possam compartilhar suas experiências e idéias para uma adequada permanência em um ambiente
        escolar.</p>
    </div>
  </section>
  <!--SOBRE NÓS-->

  <!--DADOS ESTÁTISTICOS-->
  <div class="container-fluid numbers-full">
    <div class="row row-icons d-flex justify-content-center">

      <div class="col-12 col-md-6 col-xl-6 col-portfolio">
        <div class="card flex-row" style="background: none; border: none;">
          <img class="card-img-top card-icon" src="../../assets/img/dados1.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text icon-text text-white">77.102 <br> Crianças e adolescentes com autismo estudavam na mesma
              sala que pessoas sem deficiência</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-6 col-portfolio">
        <div class="card flex-row" style="background: none; border: none;">
          <img class="card-img-top card-icon" src="../../assets/img/dados2.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text icon-text text-white">37,27 % <br>Aumento de crianças autistas matriculadas em classes
              comuns no Brasil</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--DADOS ESTÁTISTICOS-->

  <!--SOBRE AUTISMO-->
  <section id="about">
    <div class="container-fluid about-full mt-5 mr-5">
      <h2 class="text-center title-about text-bold pb-5">
        Número de alunos com autismo em escolas comuns cresce 37% em um ano;
        aprendizagem ainda é desafio
      </h2>
      <p class="lead text-center p-about ">O número de alunos com transtorno do espectro autista (TEA) que estão
        matriculados em classes comuns no Brasil aumentou 37,27% em um ano. Em 2017, 77.102 crianças e adolescentes com
        autismo estudavam na mesma sala que pessoas sem deficiência. Esse índice subiu para 105.842 alunos em 2018.</p>

      <p class="lead text-center p-about"> Conforme mostram os dados do Censo, o aumento das matrículas indica que as
        escolas deram um passo em direção à inclusão. No entanto, permanece um desafio: ir além da mera presença em sala
        de aula. É necessário assegurar que os alunos com autismo estejam aprendendo. </p>

      <p class="lead text-center p-about pb-5">Os dados foram extraídos do Censo Escolar, divulgado anualmente pelo
        Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep). São considerados tanto os
        estudantes de escolas públicas quanto de particulares. </p>
    </div>
    <!--SOBRE AUTISMO-->




    <!--DADOS INFORMATIVOS-->
    <div class="container-fluid imgback skills-full ">
      <h2 class="w-40  title-skills tm-titlle text-white">
        Graus do autismo
      </h2>

      <span>
        <h3 class="title-skills text-white">
          Grau 1 : 50% possuem Autismo Leve
        </h3>
      </span>

      <div class="progress w-50" style="height: 10px; margin: 2% 0 0 5%;">
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
      </div>

      <span>
        <h3 class="title-skills  text-white">
          Grau 2 : 35% possuem Austimo Moderado
        </h3>
      </span>
      <div class="progress w-50" style="height: 10px; margin: 2% 0 0 5%;">
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
      </div>

      <span>
        <h3 class="title-skills text-white">
          Grau 3 : 15% possuem Autismo Severo
        </h3>
      </span>

      <div class="progress w-50" style="height: 10px; margin: 2% 0 10% 5%;">
        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
      </div>

    </div>
  </section>
  <!--DADOS INFORMATIVOS-->


  <!--ABA DE CURSOS-->
  <section id="cursos">
    <div class="container-fluid about-full">
      <h2 class="w-100 text-center title-about cursop">
        Saiba Mais
      </h2>
      <p class="lead text-center p-about">Para aqueles que desejam se aprofundar mais sobre o Espectro Autista, segue
        abaixo algumas indicações de cursos
        especializados no tema:</p>
    </div>

    <!--LINHA 1 DOS CURSOS-->
    <div class="container-fluid portfolio-full">
      <div class="row">

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/img/curso1.svg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Um curso que ensina como é a influência do autismo no gênero.</p>
              <a href="#">Saiba mais.</a>
            </div>
          </div>
        </div>

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/img/curso2.svg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Um curso voltado para educadores lidarem com autistas jovens e adultos</p>
              <a href="#">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/img/curso3.svg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Curso que promove o ensino do espectro autista desde o jardim de infância até o ensino fundamental.</p>
              <a href="#">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/img/curso4.svg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Curso que ensina sobre os mistérios da mente de um autista</p>
              <a href="#">Saiba mais</a>
            </div>
          </div>
        </div>

      </div>
      <!--LINHA 1 DOS CURSOS-->
    </div>
  </section>
  <!--ABA DE CURSOS-->



  <!--VÍDEO E DECLARAÇÕES-->

  <div class="container" id="trailer">
    <p>Curso que promove o ensino do espectro autista desde o jardim de infância até o ensino fundamental.</p>
    <a href="#">Saiba mais</a>
    <div class="row mt-5 mb-5">
      <div class="col-md-6 ">
        <iframe width="500" height="300" style="margin: 0 auto 10%; display: block;"
          src="https://www.youtube.com/embed/DuPllwQoDHk" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="col-md-6">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/NNaiwC6tnQQ" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
  <!--VÍDEO E DECLARAÇÕES-->


  <!--CHAT DE MENSAGENS-->
  <!-- Section: Testimonials v.3 -->
<section class="team-section text-center text-white my-5 py-5" style="background-color: #6E00C8;">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Avaliações</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5"></p>

  <!--Grid row-->
  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="../../assets/img/moca1.svg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4 titulo-tm">Maria Lourdes</h4>
        <h6 class="font-weight-bold blue-text my-3">Mãe de Autista</h6>
        <p class="font-weight-normal dark-grey-text texto-tm">
          <img src="https://img.icons8.com/fluency/48/000000/quote-left.png"/>
          É muito gratificante participar de uma comunidade que entende o que é ser mãe de um autista.</p>
        <!--Review-->
        <div class="orange-text">
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/star-half.png"/>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="../../assets/img/familia.svg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4 titulo-tm">Carlos e Otávio</h4>
        <h6 class="font-weight-bold blue-text my-3">Pai de família e Professor</h6>
        <p class="font-weight-normal dark-grey-text texto-tm">
          <img src="https://img.icons8.com/fluency/48/000000/quote-left.png"/>
          Como pai e formador de pessoas posso dizer que o EducaTEA é o melhor site para se aprender sobre o tema.</p>
        <!--Review-->
        <div class="orange-text">
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="../../assets/img/moca2.svg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4 titulo-tm">Camila de Lucas</h4>
        <h6 class="font-weight-bold blue-text my-3">Blogueira</h6>
        <p class="font-weight-normal dark-grey-text texto-tm">
        <img src="https://img.icons8.com/fluency/48/000000/quote-left.png"/>
         Além do design lindo, é um site que ensina muito, fiz vários amigos e amo fazer parte dessa comunidade.</p>
        <!--Review-->
        <div class="orange-text">
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/filled-star--v1.png"/>
          <img src="https://img.icons8.com/color/35/000000/star-half.png"/>


        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!-- Section: Testimonials v.3 -->


  <!--CHAT DE MENSAGENS-->

  <!--ONGS E ARRECADAÇÕES-->
  <section>
    <div>
      <h2 class="w-100 text-center title-about mb-5">
        DESENVOLVEDORES
      </h2>
    </div>


    <div class="container-fluid portfolio-full">
      <div class="row">

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/pedro1.jpg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Desenvolvedor Full Stack Java Júnior e estudante do bootcamp Generation.</p>
              <a href="https://www.linkedin.com/in/pedro-borelli-9a64231b9/">LINKEDIN</a>
            </div>
          </div>
        </div>

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/pedro4.jpg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, temporibus, repellat? Placeat nihil
                itaque culpa eu.</p>
              <a href="#">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/pedro3.jpg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, temporibus, repellat? Placeat nihil
                itaque culpa eu.</p>
              <a href="#">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-3 col-portfolio">

          <div class="hover-zoom">
            <div class="card flex-row" style="background: none; border: none;">
              <img class="card-img-top" src="../../assets/pedro4.jpg" alt="Card image cap">
            </div>
            <div class="retina">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, temporibus, repellat? Placeat nihil
                itaque culpa eu.</p>
              <a href="#">Saiba mais</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--ONGS E ARRECADAÇÕES-->

  <!--FOOTER-->
  <section id="contact">
    <div>
      <div>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Untitled</title>
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="">
      </div>

      <div>
        <div class="footer-basic">
          <footer>
            <div class="col-md-12 d-flex justify-content-center">
              <h4 class="text-white">Siga-nos nas redes sociais:</h4>
            </div>
            <div class="social">
              <a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a>
              <a href="https://www.linkedin.com/feed/" target="_blank"><i class="icon ion-social-linkedin"></i></a>
              <a href="https://github.com/JoelMoraes097/EducaTEA-Front-1" target="_blank"><i
                  class="icon ion-social-github"></i></a>
              <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">Sobre nós</a></li>
            </ul>
            <hr>
            <p class="copyright">© 2022 Copyright: EducaTEA </p>
          </footer>
        </div>

      </div>

    </div>
  </section>
  <!--FOOTER-->

</body>

<script src="scroll-menu/vendor/jquery/jquery.min.js"></script>
<script src="scroll-menu/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="scroll-menu/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="scroll-menu/js/scrolling-nav.js"></script>