.carousel-item {
    margin-top: 15px;
    height: 75vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .btn {
    box-shadow: none;
    width: 30%;
    height: 40px;
    background-color: #faac45;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    letter-spacing: 1.3px
}

.btn:hover {
    background-color: #6E00C8
}


    
#nav-todasPostagens-tab {
    background-color: #6E00C8;
}

#nav-todasPostagens-tab:hover {
    background-color: #17c800
}

#nav-minhasPostagens-tab {
    background-color: #6E00C8;
}

#nav-minhasPostagens-tab:hover {
    background-color: #17c800
}


#nav-postagemTema-tab {
    background-color: #6E00C8;
}

#nav-postagemTema-tab:hover {
    background-color: #17c800
}

    